
/* body styles */
body {
    font-family: 'Quattrocento', serif;
    font-size: 16px / 1em;
    line-height: 1.5;
    color: black;
}

/* text */
h1 {
    font-size : 3.5rem;
    font-weight : bold;
}
h2 {
    font-size : 2.5rem;
    font-weight : bold;
}
p {
    font-size : 1.25rem;
}

.red {
    color : #cd2a37;
}
.green {
    color : #1b9246;
}
.white {
    color : white;
}
.red,
.green,
.white {
    text-shadow : -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
/*
red #cd2a37
rgb(205, 42, 55)
green #1b9246
rgb(27, 146, 70)
*/
a {
    text-decoration: none;
    color: rgb(4, 104, 101);
}



/* sections */
main {
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    margin : 0 auto;
}

header {
    text-align : center;
}





/* form */
form {
    background-color: white;
    margin: 1rem 0 2rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 0.75rem;
    background: rgba(27, 146, 70, .2);
    border : 3px solid rgba(27, 146, 70, 1);
}
form input,
form label {
    display: block;
}
form label {
    padding: 0.5rem 0 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    color : rgba(27, 146, 70, 1);;
}

/* text input */
form input {
    font-family: 'Quattrocento', serif;
    font-size: 1.25rem;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border : 1px solid rgba(27, 146, 70, 1);
}
form input[type="text"]:focus {
    border: 1px solid rgba(205, 42, 55, 1);
}

/* submit button */
form input[type="submit"] {
    font-size: 1.5rem;
    margin-top: 4rem;
    padding: 1rem;
    background: rgba(27, 146, 70, 1);
    color: white;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus {
    background: rgba(205, 42, 55, 1);
}

/* conversion fieldset */
#conversion.has-result + input,
#conversion.has-error + input {
    margin-top : 0;
}
#conversion {
    padding : 1.5rem 0;
}
#conversion h2 {
    letter-spacing : 0.05rem;
}
#conversion label {
    padding : 0;
}
#conversion label span {
    padding : 0.25rem .5rem;
    color : white;
    background-color : #1b9246;
}
#conversion.has-error label {
    padding : 0.25rem .5rem;
    color : white;
    background-color : #cd2a37;
}




/* mid to large screen stuff */
@media only screen and (min-width: 600px) {
    header,
    form {
        max-width: 80%;
        margin: 0 auto 2rem;
    }
}


